*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

*[hidden] {
  display:none;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/ubuntu.woff') format('woff');
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('/fonts/ubuntu-mono.woff') format('woff');
}

@font-face {
  /*font-family: 'ChemWriter Symbols';*/
  font-family: sans-serif;
  src: url('http://chemwriter.com/sdk/chemwriter-symbols.woff') format('woff');
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 130px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

p {
  line-height: 1.6em;
  margin-bottom: 1em;
}

code {
  font-family: "Ubuntu Monospace", "Bitstream Vera Sans" monospace;
}

p code, li code {
  border: 1px solid #90a9d8;
  background-color: #f0f0f0;
  padding: 0.05em 0.2em;
}

.page {
  font-family: Ubuntu, Tahoma, sans-serif;
  font-size: 18px;
  color: #333333;
}

.content {
  position: relative;
  padding-bottom: 2em;
  overflow: hidden;
}

.horizontal-margin {
  width: 930px;
  margin: auto;
}

.header {
  position: relative;
  background: gray;
  padding: 0.4em 0 0.4em 0;
  margin-bottom: 2em;
  color: #f1f1f1;
}

.header nav.site {

}

.header nav.site h2 {
  display: inline-block;
}

.header nav.site h2.site-id {

}

.header nav.site ul.links {
  float: right;
  line-height: 50px;
}

.header nav.site ul.links li {
  display: inline-block;
  margin-left: 1em;
}

.header nav.site a {
  color: inherit;
}

.body {
  position: relative;
}

/* http://mystrd.at/modern-clean-css-sticky-footer/ */
.page-footer {
  background-color: black;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 130px;
  width: 100%;
  text-align: center;
  color: #a0a0a0;
  font-size: 80%;
}

.page-footer nav li {
  display: inline;
}

.page-footer a {
  color: #a0a0a0;
  text-decoration: none;
}

.page-footer a:hover {
  text-decoration: underline;
}

.page-footer nav {
  margin-top: 20px;
  margin-bottom: 30px;
}