aside.sidebar .user-guide {

}

aside.sidebar dl {
  font-size: 85%;
  margin-bottom: 1em;
}

aside.sidebar dt {
  float: left;
  margin-bottom: 0.2em;
}

aside.sidebar dd {
  margin-left: 1.5em;
  margin-bottom: 0.2em;
}

aside.sidebar dl.mouse dd {
  margin-left: 7em;
}

.editor {
  margin-bottom: 1em;
}

ul.buttons {
  margin-left: 0;
  padding-left: 0;
}

ul.buttons li.button {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  clear: left;
}

li.button .icon {
  font-size: 40px;
  line-height: 40px;
  font-family: "ChemWriter Symbols";
  float: left;
}

li.button .description {
  margin-left: 55px;
}

li.button h4 {
  line-height: 1em;
  margin-bottom: 0.4em;
}

li.button p {
  font-size: 80%;
  line-height: 1.3em;
  font-style: italic;
}